@page
@model NET_CORE_9_Mangement_Systems.Pages.IndexModel
@{
    ViewData["Title"] = "Corpo HQ";
}
@section title_section {
    <h2>Welcome Home!</h2>
}
<div class="container-fluid">
    <div class="center">
        <h1>Welcome to the Corporation Home Page</h1>
        <br />
        <p>Here we will give you options on what you want to in your corporation management page.<br /> You can use the link below to explore different options for local corporation management issues.</p>
        <br />
        <div style="text-align:center;">
            <a href="/departments">Go to Departments</a>
            <br />
            <a href="/employees" style="color:lightgreen;">Go to Employees</a>
        </div>
    </div><!--end center class-->
</div>
<!--end Index View-->